$light-blue: #057bb5;
$red:#ef2b63;
$gray:#696969;
$gray-light:#f6f6f6;


//$main-font: "nimbus-sans",sans-serif;
$main-font: 'Lato', sans-serif;

//$big-font: "acumin-pro",sans-serif;
$big-font: 'Lato', sans-serif;

$max-width:1400px;

// DEVICES

$desktop-width:    1114px;
$phablet-width:     936px;
$tablet-width:     768px;
$mobile-width:     600px;
